[core]
    pager = delta
    editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    theme = TwoDark
    side-by-side = true
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
    tool = meld

[init]
    defaultBranch = main
    templateDir = ~/.config/git/templatedir

[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[commit]
  gpgsign = true
[tag]
  gpgsign = true
[push]
    autoSetupRemote = true

[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
    patterns = ABSK[A-Za-z0-9+/]{109,}=*
    patterns = bedrock-api-key-YmVkcm9jay5hbWF6b25hd3MuY29t
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
	patterns = \\-----BEGIN [A-Z ]*PRIVATE KEY-----
	patterns = ya29
[user]
	email = pallsjh@gmail.com
	name = ZeePal
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
